<h1>{{bolsa.nombre}}</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <img [src]="bolsa.img" class="img-fluid" alt=""  >
    <br><br>
    <a [routerLink]="['/bolsas']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>Nombre de la bolsa</h3>
    <hr>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laborum blanditiis doloribus modi. Quaerat voluptates blanditiis labore quasi iusto, voluptatibus eaque et veniam quas similique laborum tempore quos reiciendis hic!
    </p>

  </div>
</div>